    <footer class="scroll__pointer3">
      <div class="text__footer-center">
        <span
          >In case of copyright infringement, please contact
          online-store@mail.oc</span
        >
      </div>
      <div class="flex__column">
        <div class="list__text-footer">
          <ul class="list__footer">
            <li><a href="#">Поддержка</a></li>
            <li><a href="{% url "about" %}">О нас</a></li>
            <li><a href="#">Информация о нашем магазине</a></li>
            <li><a href="#">Основатель магазина</a></li>
            <li><a href="#">Партнёры</a></li>
          </ul>
        </div>
        <div class="list__text-footer">
          <ul class="list__footer">
            <li><a href="#">Лицензиии</a></li>
            <li><a href="#">Создание данного сайта: 19.09.2020</a></li>
            <li><a href="#">Для связи email: grom.gom@mail.ru</a></li>
            <li><a href="#">This site was created by my imagination</a></li>
            <li><a href="#">Джанго-фет</a></li>
          </ul>
        </div>
        <div class="list__text-footer">
          <ul class="list__footer">
            <li><a href="#">These fields will be filled in with accurate information later</a></li>
            <li><a href="#">All photos taken from the site pixabay.com</a></li>
            <li><a href="#">I will develop an online store for my portfolio</a></li>
            <li><a href="#">I created this site in one day</a></li>
            <li><a href="#">Average difficulty level</a></li>
          </ul>
        </div>
        <div class="list__text-footer">
          <ul class="list__footer">
            <li><a href="#">There will be feedback forms</a></li>
            <li><a href="#">Different page</a></li>
            <li><a href="#">Perhaps a personal account</a></li>
            <li><a href="#">I will also make the admin panel</a></li>
            <li><a href="#">The site will be automated</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>