{% extends 'base.html' %} {% block content %}
<section class="main">
  <div class="text__align-center">
    <span>Register user</span>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="help__form">
      <ul class="list">
        <li>1. To register, enter your password and username.</li>
        <li>2. Then click on the "Register" button.</li>
        <li>3. If something went wrong. The fields will turn red.</li>
        <li>4. If registration is successful, the fields will be green</li>
      </ul>
    </div>
    <div class="wrapper__form">
      {{ form.as_table }}
<!--     <input id="email" type="email" name="email" placeholder="Email" />-->
      <input id="btn-submit" name="btn" type="submit" value="Registred" />
<!--      <input type="hidden" value="{{ next }}">-->
    </div>
    <div class="links__site"></div>
  </form>
</section>

{% endblock content %}
