{% extends 'base.html' %} {% block content %}
<section class="main">
  <div class="text__align-center">
    <span>Регистрация</span>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="help__form">
      <ul class="list">
        <li>1. Чтобы зарегистрироваться, введите свой пароль и имя пользователя.</li>
        <li>2. Затем нажмите на кнопку "Зарегистрироваться".</li>
        <li>3. Если регистрация прошла успешно, Вас перенаправят на другую страницу</li>
      </ul>
    </div>
    <div class="wrapper__form">
      {{ form.as_table }}
<!--     <input id="email" type="email" name="email" placeholder="Email" />-->
      <input id="btn-submit" name="btn" type="submit" value="Registred" />
<!--      <input type="hidden" value="{{ next }}">-->
    </div>
    <div class="links__site"></div>
  </form>
</section>

{% endblock content %}
