{% extends 'base.html' %} {% block content %}
    <section class="main_profile">
        <div class="text__align-center">
            <span>Редактирование Имени | Фамилии | Электронной почты</span>
        </div>
        <form method="POST" id="edit_profile">
            <div class="wrapper__form">
                {% csrf_token %}
                {{ form_name.as_table }}
                <input id="btn-submit" name="btn" type="submit" value="Изменить">
                <input type="hidden" value="{{ next }}">
            </div>
          <div class="links__site"></div>
        </form>
    </section>
{% endblock content  %}