{% extends 'base.html' %} {% block content %}
    <section class="main_profile">
        <div class="text__align-center">
            <span>Редактирование профиля</span>
        </div>
        <div style="width: 100%; text-align: center;">
            <a href="{% url 'user_edit_name' %}">Редактирование: Имени | Фамилии | Электронной почты</a><br>
            <a href="{% url 'user_edit_profile' %}">Редактирование: Номера телефона | День Рождения</a>
        </div>
    </section>
{% endblock content  %}