{% extends 'base.html' %} {% block content %} {% load static %} {% load cache %} {% load main_tags %}
{% cache 300 information %}
<section>
  <div class="container__store">
    {% for EditsHeadText in EditHeadText %}
    <div class="about__online-store">
      <h2>{{ EditsHeadText.WelcomeText }}</h2>
      <h3>{{ EditsHeadText.EditHeadText }}</h3>
    </div>
    <div class="icons__details-nut">
      <img src="{{ EditsHeadText.EditCenterImage.url }}" />
    </div>
    {% endfor %}
    <div class="wrapper__block-information">
      {% for Edit in EditText %}
      <div class="block__information">
        <div class="text__information">
          <span>{{ Edit.EditHeadText }}</span>
        </div>
        <div class="description__information">
          <span> {{ Edit.EditDisText }} </span>
        </div>
        <div class="details__car">
          <img src="{{ Edit.EditImages.url }}" alt="Детали" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endcache %}
<!-- Section categories in online store -->
{% cache 60 categories %}
  {% show_category %}
  {% endcache %}
  <div class="wrapper">
    <div class="flex__wrapper">
      {% for Product in Products %}
          <div class="pictures__flex-blocks">
            <div class="text__about-item">
              <h1>{{ Product.name_product }}</h1>
              <h2>{{ Product.discription }}</h2>
              <h3>{{ Product.price }} руб</h3>
              <a class="link__items" href="{{ Product.get_absolute_url }}">Подробнее</a>
            </div>
            <img class="active" src="{{ Product.images.url }}" alt="" />
          </div>
      {% endfor %}
    </div>
    <div class="pagination">
      {% if page_obj.has_previous %}
      <a class="Previous" href="?page={{ page_object.previous_page_number }}">Назад</a>
      {% endif %}
      <span class="page_number">Страница:{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
      <a class="Next" href="?page={{ page_obj.next_page_number }}">Вперед</a>
      {% endif %}
    </div>
  </div>
</section>
<!-- Section main content -->
<section class="scroll__pointer">
  <div class="heders__products-menu">
    <div class="name__menu-header">
      <span> Вид различных деталий </span>
    </div>
    <div class="list__menu-products">
      <div class="list__products-wrapper">
        <span><a href="{% url 'index' %}">Мы рады Вас видеть в нашем магазине!</a></span>
      </div>
    </div>
  </div>
  {% show_sliders %}
</section>
<!-- Section line -->
<section class="line__section">
  <div class="line__gold"></div>
</section>
<!-- Section lower main content -->
<section class="scroll__pointer2">
  {% show_various_details %}
</section>
{% endblock content %}