{% extends 'base.html' %} {% block content %} {% load static %}



<section class="profile_details">
    <div class="main">
        <div class="details">
            {% for Product in Products %}
                <img class="pictures_details" src="../../../static{{ Product.images.url }}" alt="pictures_detail">
                <h3 class="name_detail">{{ Product.name_product }}</h3>
                <p class="discription_detail">{{ Product.discription }}</p>
                <p class="price">{{ Product.price }}</p>
                <button  class="add_in_basket"type="submit">Добавить в корзину</button>
            {% endfor %}
        </div>
    </div>
</section>




{% endblock content %}